{% extends 'plantilla.html' %}

{% block content %}

        <div id="obsah" class="content box">
            <div class="in">
                <h3>Cartografia</h3>
                <div class="fluid_container">
                    <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                        <div data-thumb="../../static/assets/img/cartografia/cc1.jpg" data-src="../../static/assets/img/cartografia/c1.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c1.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc2.jpg" data-src="../../static/assets/img/cartografia/c2.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c2.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc3.jpg" data-src="../../static/assets/img/cartografia/c3.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c3.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc4.jpg" data-src="../../static/assets/img/cartografia/c4.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c4.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc5.jpg" data-src="../../static/assets/img/cartografia/c5.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c5.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc6.jpg" data-src="../../static/assets/img/cartografia/c6.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c6.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc7.jpg" data-src="../../static/assets/img/cartografia/c7.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c7.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc8.jpg" data-src="../../static/assets/img/cartografia/c8.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c8.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/cartografia/cc9.jpg" data-src="../../static/assets/img/cartografia/c9.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Cartografia participativa humedal Tibanica
                                &nbsp;<a href="../../static/assets/img/cartografia/c9.jpg">Pantalla completa</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both; display:block; height:100px"></div>
            </div>
        </div>

{% endblock %}
