{% extends 'plantilla.html' %}

{% block content %}

        <div id="intro">
            <div id="intro-in">
                <p class="intro">

                </p>
            </div>
        </div>
        <div id="obsah" class="content box">
            <div class="in">
                <h3>Cartografia</h3>
                <div class="fluid_container">
                    <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                        <div data-thumb="../../static/assets/img/comic/kk1.jpg" data-src="../../static/assets/img/comic/k1.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k1.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/comic/kk2.jpg" data-src="../../static/assets/img/comic/k2.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k2.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/comic/kk3.jpg" data-src="../../static/assets/img/comic/k3.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k3.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/comic/kk4.jpg" data-src="../../static/assets/img/comic/k4.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k4.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/comic/kk5.jpg" data-src="../../static/assets/img/comic/k5.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k5.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/comic/kk6.jpg" data-src="../../static/assets/img/comic/k6.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k6.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/comic/kk7.jpg" data-src="../../static/assets/img/comic/k7.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k7.jpg">Pantalla completa</a>
                            </div>
                        </div>
                        <div data-thumb="../../static/assets/img/comic/kk8.jpg" data-src="../../static/assets/img/comic/k8.jpg">
                            <div class="camera_caption fadeFromBottom">
                                Primer capítulo comic
                                &nbsp;<a href="../../static/assets/img/comic/k8.jpg">Pantalla completa</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both; display:block; height:100px"></div>
            </div>
        </div>

{% endblock %}
