{% extends 'plantilla.html' %}

{% block content %}

        <div id="intro">
            <div id="intro-in">
                <p class="intro">
                    Esta página responde a los intereses de la comunidad vecina y queriente del humedal Tibanica, así como de los esfuerzos de estudiantes y profesores de la Mestría en Ciencias Ambientales de la U.D.C.A. Quienes buscan reconocer la historia biólogica, ecológica, política, social y cultural de este ecosistema para proceder con conocimiento a su disfrute y protección.
                </p>
            </div>
        </div>
        <div id="obsah" class="content box">
            <div class="in">
                <img src="../static/assets/img/image.jpg" alt="image.jpg" title="image.jpg" class="thumb" />
            </div>
        </div>

{% endblock %}
